/*********************************************
 * Custom css
 *********************************************/

.reveal .slides img.emoji {
  width: 1em;
}

.reveal .slides h1,
.reveal .slides h2 {
  text-align: left;
}

.reveal .slides h1 {
  font-size: 2.11em;
}

.reveal .slides h2 {
  font-size: 1.5em;
}

.reveal .slides h3 {
  font-size: 1.3em;
}

.reveal .slides h4 {
  font-size: 1.2em;
}

.reveal .slides p {
  text-align: left;
  font-size: 0.7em;
}

.reveal .slides ul {
  display: block;
  margin-left: 2em;
  font-size: 0.7em;
}

.reveal .slides ul li {
  text-align: left;
}

.reveal .slides table th {
  border-right: 1px solid;
}
.reveal .slides table td {
  border-right: 1px solid;
}

.reveal .slides table td:last-child {
  border-right: none;
}
.reveal .slides table th:last-child {
  border-right: none;
}

.reveal .slides .left {
  text-align: left;
}

.reveal .slides .center {
  text-align: center;
}
